.h2 {
  font-size: 40px;
  margin-top: 0;
}

.container-fluid  {
  max-width: 1270px;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-container .hero-captions {
  background-color: #5684B5;
  color: white;
  padding: 20px;
}

.hero-container .hero-captions h2 {
  margin-top: 0;
  size: 40px;
}

.call-to-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: 0 auto;
}

.call-to-action {
  padding: 20px 10px;
  width: 50%;
}

.call-to-action-container picture {
  width: 50%;
  display: flex;
  justify-content: center;
}

.call-to-action-container picture img {
  width: 100%;
  height: auto;
}

.btn-primary {
  padding: 20px;
  background-color: #0DCEDA;
  color: white;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0cb3be;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: 0 auto;
  background-color: #F0F2F5;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.cards-container .card {
  border-radius: 4.86904px;
  margin: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.cards-container .card:hover {
  transform: scale(1.2);
}

.cards-container .card img {
  height: 300px;
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.news-container .news-row {
  display: flex;
  align-items: flex-start;
  margin-top: 70px;
}

.news-card {
  border-radius: 16px;
  width: 300px;
  transition: all 0.3s ease-in-out;
  margin: 0 20px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.news-card .body {
  padding: 20px;
}

.news-card img {
  width: 100%;
  height: auto;
}