/*  
    #0DCEDA default color
    #FFFFFF white
    #28E6F2 highlight 1
    #58ECF5 highlight 2
    #0AA0AA darker 1
    #A5A5A5 light grey
    #E6E6E6 grey
    #2B2D2F dark grey
*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #2B2D2F;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper,
.header-info-wrapper {
    align-self: center;
}

.logo {
    width: 100px;
}

nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0DCEDA;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0AA0AA;
}

.active {
    background-color: #58ECF5;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: #A5A5A5;
    height: 70px;
    width: 100%;
}

.footer-wrapper {
    align-self: center;
}