/*  
    #0DCEDA default color
    #FFFFFF white
    #28E6F2 highlight 1
    #58ECF5 highlight 2
    #0AA0AA darker 1
    #F1F2F4 very light grey
    #A5A5A5 light grey
    #E6E6E6 grey
    #2B2D2F dark grey
*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #2B2D2F;
    background-color: #F1F2F4;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.content-container {
    padding-bottom: 100px;
}

.display-container {
    position: relative;
}

.hero-img, .hero-video {
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.hero-desc-container {
    position: absolute;
    top:25%;
    left: 10%;
}

.hero-desc-title {
    /* color: #fff; */
    font-size: 40px;
    line-height: 32px;
    font-family: 'Oswald', sans-serif;
}

.hero-desc-subtitle {
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}

.hero-button {
    color: #2B2D2F;
    padding: 12px 24px;
    font-size: 18px;
    opacity: 0.80;
    font-family: 'Oswald', sans-serif;
}


.logo-wrapper,
.header-info-wrapper {
    align-self: center;
}

.logo {
    width: 130px;
    padding-top: 10px;
}

nav {
    /* position: -webkit-sticky;
    /* Safari */
    position: sticky; 
    top: 0
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0DCEDA;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0AA0AA;
}

.active {
    background-color: #58ECF5;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: #A5A5A5;
    height: 70px;
    width: 100%;
}

.footer-wrapper {
    align-self: center;
    color: #58ECF5;
}

.footer-logo {
    width: 50%;
    padding-top: 10px;
}